{include file="public/header" /}
<style>
    body {
        background: #17171b;
        padding-top: 0;
    }

    .tab {
        padding: 10px 0px 4px;
        text-align: center;
    }

    .tab .van-tabs__nav--card {
        border: var(--van-border-width-base) solid #ffffff;
    }

    .cellcol {
        padding: 8px 0px 10px;
    }

    .cellcol .van-cell-group {
        background: #22222b;
    }

    .cellgroup {
        margin: 0px 0px 10px;
    }

    .cellgroup .van-cell {
        color: #ffffff;
    }
</style>
<div id="app">
    <van-row>
        <van-col span="24">
            <van-nav-bar
                    class="navbar"
                    title='{:__("Caiwu_Account")}'
                    left-arrow
                    @click-left="onClickLeft"
            />
        </van-col>
        <van-col span="24" class="tab">
            <van-tabs v-model:active="active" @click-tab="onClickTab" type="card">
                <van-tab title='{:__("Caiwu_All")}' name="0"></van-tab>
                <van-tab title='{:__("Caiwu_Withdraw")}' name="1"></van-tab>
                <van-tab title='{:__("Caiwu_Recharge")}' name="2"></van-tab>
            </van-tabs>
        </van-col>
        <van-col span="24" class="cellcol">

            <van-list
                    v-model:loading="loading"
                    :finished="finished"
                    finished-text="no more"
                    @load="onLoad"
            >
                <div class="cellgroup" v-for="item in list">
                    <van-cell-group inset>
                        <van-cell :label="item.create_time">
                            <template #value>
                                <span data-v-5a05e720="" class="mint-badge is-success is-size-normal" v-if="item.status == 1">+{{item.num}}</span>
                                <span data-v-5a05e720="" class="mint-badge is-error is-size-normal" v-else>-{{item.num}}</span>
                            </template>
                            <template #title>
                                <font color="red" v-if="item.type == 0">{:__("System changes")}</font>
                                <font color="orange" v-if="item.type == 1">{:__("Caiwu_Recharge")}</font>
                                <font color="red" v-if="item.type == 2">{:__("Trade")}</font>
                                <font color="#0cea5b" v-if="item.type == 3">{:__("Caiwu_Trade")}</font>
                                <font color="#d814c9" v-if="item.type == 4">{:__("Mandatory Transaction")}</font>
                                <font color="red" v-if="item.type == 5">{:__("Invite Commission")}</font>
                                <font color="red" v-if="item.type == 6">{:__("Subordinate Commission")}</font>
                                <font color="red" v-if="item.type == 7">{:__("Caiwu_Withdraw")}</font>
                                <font color="red" v-if="item.type == 8">{:__("Interest")}</font>
                            </template>
                        </van-cell>
                    </van-cell-group>
                </div>

            </van-list>
        </van-col>
    </van-row>
</div>
</body>
<script>
    const app = Vue.createApp({
        computed: {
            vanNavBar: vant.NavBar,
            vanTabs: vant.Tabs,
            vanTab: vant.Tab,
            vanCol: vant.Col,
            vanRow: vant.Row,
            vanCell: vant.Cell,
            vanCellGroup: vant.CellGroup,

        },
        setup() {
            const getUrlKey = (name) => {
                return (
                    decodeURIComponent(
                        (new RegExp("[?|&]" + name + "=" + "([^&;]+?)(&|#|;|$)").exec(
                            location.href
                        ) || [, ""])[1].replace(/\+/g, "%20")
                    ) || null
                );
            };
            const list = Vue.ref([]);
            const active = Vue.ref(0);
            const loading = Vue.ref(false);
            const finished = Vue.ref(false);
            const page = Vue.ref(1);
            const is_more = Vue.ref(true);
            const type = Vue.ref(getUrlKey("type"));
            const onClickLeft = () => {
                window.location.href = "/user/index.html";
            };
            const onLoad = () => {
                console.log('sss')
                if (is_more.value) {
                    axios.post('/user/account', {
                        page: page.value,
                        type: type.value,
                    }).then(function (result) {
                        // 加载状态结束
                        loading.value = false;
                        var res = result.data
                        if (res.code == 401) {
                            $(document).dialog({
                                infoText: res.msg,
                                autoClose: 2000
                            });
                            setTimeout(function () {
                                window.location.href = '/user/login'
                            }, 2000)
                            return false
                        }
                        if (res.code) {
                            if (res.data.length > 0) {
                                for (var i = 0;i < res.data.length; i++) {
                                    list.value.push(res.data[i])
                                }
                                page.value++;
                            } else {
                                is_more.value = false
                                finished.value = true;
                            }
                        } else {
                            is_more.value = false
                            finished.value = true;
                        }
                    })
                }
            };

            const onClickTab = ({name}) => {
                window.location.href = "/user/account.html?type=" + name;
            };
            Vue.onMounted(() => {
                active.value = type.value
            });
            return {
                onClickLeft,
                active,
                onClickTab,
                list,
                onLoad,
                loading,
                finished,
                is_more,
                page,
                type
            };
        },
    });
    app.use(vant);
    app.use(vant.Lazyload);
    app.use(vant.List);
    app.mount("#app");
</script>
</html>
