{include file="public/header" /}
<script>
    function paybtn() {
        setTimeout(function () {
            window.location.href = "/user/index.html";
        }, 123);
    }
</script>
<script src="https://libs.cdnjs.net/clipboard.js/2.0.1/clipboard.min.js"></script>
<style type="text/css" title="fading circle style">
    .circle-color-8 > div::before {
        background-color: #ccc;
    }

    .Cash_num[data-v-7d87b156] {
        box-shadow: 0 0.04rem 0.133333rem 0 rgb(0 0 0 / 15%);
        margin-top: 25px;
        background-color: #fff;
        border-radius: 0.08rem;
        padding: 0.24rem 0.506667rem 0.506667rem;
    }

</style>
<div id="app">
    <div data-v-7d87b156="" class="main">
        <div data-v-4c2dcb20="" class="header">
            <div class="left_btn" onclick="window.location.href=`/user/index`">
                <img src="__CDN__/assets/crystal_clear/img/back.png"
                     alt="" class="return"/>
            </div>
            <div data-v-4c2dcb20="" class="Maintitle">
                <h3 data-v-4c2dcb20="">
                    {:__("Recharge_Title")}
                </h3>
            </div>
        </div>

        <button data-v-7d87b156="" class="select save-btn" style="display: none">
            {:__("Recharge_Back")}
        </button>
        <div data-v-7d87b156="" class="Cash_num main2">
            <h3 id="channel" data-v-7d87b156=""></h3>
            <div data-v-7d87b156="" class="Cash_num_money">
                <span data-v-7d87b156="" style="color: #222222">{:__("Recharge_Amount")}</span>
                <input style="background-color: #fff;color: #222222" data-v-7d87b156="" name="price" type="text"
                       placeholder='{:__("Recharge_Enter_the_amount_of_recharge")}'/>
            </div>
            <h4 data-v-7d87b156="">{:__("Recharge_Shortcut")}</h4>
            <div data-v-7d87b156="" class="Cash_num_password recharge_config">

            </div>
        </div>
        <button data-v-7d87b156="" class="next save-btn">
            {:__("Recharge_Online_Payment")}
        </button>
        <div data-v-7d87b156="" class="Cash_num paytype" style="display: none">
            <h3 style="display: none">{:__("Please select payment channel")}</h3>
            <ul data-v-7d87b156="" class="open_Lottery_ul">
                <div id="pay">

                </div>
                <div id="paybank">
                </div>
            </ul>
        </div>
        <div style="padding-top: 50px; padding-left: 8px">
            <h8 data-v-cc2885a2="">
                {:__("Recharge_P1")}<br/>
                {:__("Recharge_P2")}<br/>
                {:__("Recharge_P3")}<br/>
                {:__("Recharge_P4")}
            </h8>
        </div>
    </div>
</div>
<script src="/assets/crystal_clear/js/layer_mobile/layer.js"></script>
<script type="application/javascript">


    var type = "";
    var name = "";
    $(function () {
        $.ajax({
            url: '/user/recharge',
            type: 'POST',
            success: function (res) {
                if (res.code == 401) {
                    $(document).dialog({
                        infoText: res.msg,
                        autoClose: 2000
                    });
                    setTimeout(function () {
                        window.location.href = '/user/login'
                    }, 2000)
                    return false
                }
                if (res.code == 1) {
                    var pay = res.data.pay;
                    var paybank = res.data.paybank
                    var payHtml = ''
                    var payBankHtml = ''
                    for (var i = 0; i < pay.length; i++) {
                        var item = pay[i]
                        payHtml += '<li data-v-7d87b156="" class="save-btn2" data-id="' + item.name2 + '" data-name="' + item.name + '"><div data-v-7d87b156="" class="open_Lottery_ul_con" style="padding: 0.54rem 0.16rem"><h3 data-v-7d87b156="">' + item.name + '</h3></div></li>';
                    }
                    for (var j = 0; j < paybank.length; j++) {
                        var vo = pay[i]
                        payBankHtml += '<a href="/user/recharge2?id=' + vo.id + '&num="><li data-v-7d87b156="" class="save-btn3" data-id="' + vo.id + '" data-name="' + vo.nick + '"> <div data-v-7d87b156="" class="open_Lottery_ul_con" style="padding: 0.54rem 0.16rem"><h3 data-v-7d87b156="">' + vo.nick + '</h3></div></li></a>'
                    }
                    $("#pay").html(payHtml)
                    $("#paybank").html(payBankHtml)
                }
            }
        });
        $.ajax({
            url: '/user/recharge_config',
            type: 'POST',
            success: function (res) {
                if (res.code == 401) {
                    $(document).dialog({
                        infoText: res.msg,
                        autoClose: 2000
                    });
                    setTimeout(function () {
                        window.location.href = '/user/login'
                    }, 2000)
                    return false
                }
                if (res.code == 1) {
                    var html = ''
                    if (res.data.length > 0) {
                        for (var index in res.data) {
                            var item = res.data[index]

                            html += '<span data-v-7d87b156="" class="col-xs-3">' + item + '</span>'
                        }

                        $('.recharge_config').html(html)
                    }

                }
            }
        })
        var clipboard = new ClipboardJS(".btn");

        clipboard.on("success", function (e) {
            $("#tips").text('{:__("copy_success")}');
            $("#buttongo").hide();
            $("#buttonfinish").show();
            e.clearSelection();
        });

        function check() {
            if ($("input[name=price]").val() == "") {
                $(document).dialog({
                    infoText: '{:__("Recharge_Enter_Amount")}',
                });
                return false;
            }
            return true;
        }

        $(document).on('click', ".Cash_num_password span", function () {
            var tt = $(this).text();
            tt = tt.replace("元", "");
            $("input[name=price]").val(tt);
        });

        $(".next").on("click", function () {
            if (check()) {
                $(".paytype").show();
                $(".select").show();
                $(".main2").hide();
                $(".next").hide();
                $("#paybank a").each(function () {
                    let url = $(this).attr("href");
                    let amount = $("input[name=price]").val();
                    $(this).attr("href", url + amount);
                });
                return false;
            }
        });

        $(".select").on("click", function () {
            if (check()) {
                $(".paytype").hide();
                $(".select").hide();
                $(".main2").show();
                $(".next").show();
                $("input[name=price]").val("");
                return false;
            }
        });

        // $(".save-btn2").click(function () {
        $(document).on('click', '.save-btn2', function () {
            var loading = $(document).dialog({
                type: "notice",
                infoIcon: "__CDN__/assets/crystal_clear/img/loading.gif",
                infoText: '{:__("Recharge_Loading")}',
                autoClose: 0,
            });
            type = $(this).data("id");
            name = $(this).data("name");

            if ($("input[name=price]").val() == "") {
                $(document).dialog({infoText: '{:__("Enter recharge amount1")}'});
                return false;
            }
            if (type == "") {
                $(document).dialog({infoText: '{:__("Select payment method")}'});
                return false;
            }

            var prices = $("input[name=price]").val();
            //
            $.ajax({
                url: "/user/recharge_do_before",
                data: {price: prices, type: type},
                type: "POST",
                success: function (data) {
                    if (data.code == 0) {
                        loading.close();
                        $(document).dialog({
                            infoText: data.msg,
                        });
                    }
                    if (data.code == 1) {
                        console.log(data)
                        if (!data.data.url || data.data.url == "") {
                            loading.close();
                            $(document).dialog({
                                infoText: '{:__("Recharge_Busy_System")}',
                            });
                        } else {
                            setTimeout(function () {
                                loading.close();
                                layer.open({
                                    type: 1,
                                    skin: "layui-layer-rim", //加上边框
                                    area: ["80%", "178px"], //宽高
                                    title: name,
                                    content:
                                        `
                <div style="margin:auto; width:85%">
                  <p id="tips" style="font-size: 12px; padding-top: 10px;">{:__("recharge_tip")}</p>
                </div>
                <div style="margin:auto; width:80%">
                <img  data-clipboard-text="` + data.data.url + `" src="__CDN__/assets/crystal_clear/img/link.png" style="width: 20px;margin-right: 16px;" class="btn">
                <a target="_blank" href=` + data.data.url + `>
                    <button id="buttongo" data-v-7d87b156="" style="width: 85%; color: #fff; background-color: #e9686b;" onclick="paybtn()">
                    {:__("Recharge_GoToPay")}
                    </button>
                </a>
                <a href="/user/index.html">
                  <button id="buttonfinish" data-v-7d87b156="" style="width: 85%; color: #fff; background-color: #e9686b;" hidden>
                      {:__("recharge_finish")}
                  </button>
                </a>
            </div>
            `,
                                });
                            }, 2500);
                        }
                    }
                },
            });
        });

        //-----------------------------------
    });
</script>
</body>

</html>