{include file="public/header" /}
<style>
    body {
        background: #17171b;
        padding-top: 0;
    }

    .navbar .van-nav-bar__content {
        background: #22222b;
    }

    .navbar .van-nav-bar__title {
        color: #ffffff;
    }

    .cellcol {
        padding: 20px 0px 10px;
    }

    .cellcol .van-cell-group {
        background: #22222b;
    }

    .cellgroup {
        margin: 0px 0px 10px;
    }

    .cellgroup .van-cell {
        background: #22222b;
        color: #ffffff;
    }

    .tips {
        padding: 0px 0px 10px;
    }

    .tips .van-cell-group {
        background: #22222b;
    }
</style>
<div id="app">
    <van-row>
        <van-col span="24">
            <van-nav-bar
                    class="navbar"
                    title='{:__("Bank_Title")}'
                    left-arrow
                    @click-left="onClickLeft"
            />
        </van-col>

        <van-col span="24" class="cellcol">
            <van-form @submit="onSubmit">
                <van-cell-group inset>
                    <van-field
                            v-model="name"
                            name="username"
                            label="Name"
                            placeholder="Please enter name"
                            :rules="[{ required: true, message: 'require' }]"
                    >
                    </van-field>
                    <van-field
                            v-model="account"
                            name="card"
                            label="Account"
                            placeholder="Please enter account"
                            readonly
                            clickable
                            @touchstart.stop="show = true"
                            :rules="[{ required: true, message: 'require' }]"
                    >
                    </van-field>
                    <van-field
                            v-model="ifsc"
                            name="ifsc"
                            label="IFSC"
                            placeholder="Please enter IFSC"
                            :rules="[{ required: true, message: 'require' }]"
                    >
                    </van-field>
                    <van-number-keyboard
                            v-model="account"
                            :show="show"
                            @blur="show = false"
                    ></van-number-keyboard>
                </van-cell-group>
                <div style="margin: 16px">
                    <van-button round block type="primary" native-type="submit">
                        {:__("Bank_Save")}
                    </van-button>
                </div>
            </van-form>
        </van-col>
        <van-col span="24" class="tips">
            <van-cell-group inset>
                <van-cell>
                    <template #value>
                        <b>Tips:</b><br/>
                        {:__("Bank_P1")}
                        <br/>
                        {:__("Bank_P2")}
                    </template>
                </van-cell>
            </van-cell-group>
        </van-col>
    </van-row>
</div>
</body>

<script>
    const app = Vue.createApp({
        computed: {
            vanNavBar: vant.NavBar,
            vanCol: vant.Col,
            vanRow: vant.Row,
            vanCell: vant.Cell,
            vanCellGroup: vant.CellGroup,
            vanForm: vant.Form,
            vanField: vant.Field,
        },
        setup() {
            const onClickLeft = () => {
                location.href = "/ctrl/set";
            };
            const show = Vue.ref(false);
            const name = Vue.ref("");
            const ifsc = Vue.ref("");
            const account = Vue.ref("");

            const onSubmit = (values) => {
                console.log(values);
                $.ajax({
                    url: "/user/bindBank",
                    data: values,
                    type: "POST",
                    beforeSend: function () {
                        vant.Toast.loading({
                            message: "Loading...",
                            forbidClick: true,
                        });
                    },
                    success: function (data) {
                        if (data.code == 401) {
                            $(document).dialog({
                                infoText: data.msg,
                                autoClose: 2000
                            });
                            setTimeout(function () {
                                window.location.href = '/user/login'
                            }, 2000)
                            return false
                        }
                        if (data.code == 1) {
                            setTimeout(function () {
                                vant.Toast.success("Success");
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            }, 2000);
                        } else {
                            vant.Toast({
                                forbidClick: true,
                                duration: 3000,
                                message: data.msg,
                            });
                        }
                    },
                });
            };

            return {
                onClickLeft,
                show,
                name,
                account,
                ifsc,
                onSubmit,
            };
        },
    });
    app.use(vant);
    app.use(vant.Toast);
    app.use(vant.Lazyload);
    app.mount("#app");
</script>
</html>
