{include file="public/header" /}
<style type="text/css" title="fading circle style">
    .circle-color-8 > div::before {
        background-color: #ccc;
    }

    .bink_card_input {
        float: left;
        width: 8rem;
        font-size: 0.373333rem;
        line-height: 1.173333rem;
        color: #666;
    }

    input {
        background-color: #E89420;
    }
</style>
<div id="app">
    <div data-v-61ea9512="" class="main">
        <div data-v-61ea9512="" class="header">
            <div class="left_btn" onclick="window.history.back(-1)">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAAXNSR0IArs4c6QAAAQ1JREFUSEul1WlKxEAUReHzluo8IWjjgIojKrbiAArOOOzLrXilhISLdqeT1/kZcr5KKpVKkDgk3QBfEXEbXXtJ18AKIGC5EyDpCli1Qe9aA5IugZ7F98BSK0DSBbBm8QOwGBEaCUg6B9YtfgQWSlzONQKS+sCGxU/AfBU3ApLOgE2Ln4E5j4cCkk6BLYtfgNm/8UBA0gmwbfErMDMo/gdIOgZ2LH4DpiPie9iCqydR0hGwaxe+A1NNcX0Hkg6BPYs/gMlR8S8g6QDYt/gTmGgTV0CJC1Id3YBSjfUI1bBjTaIh+ddoSH4hGZJfyobkPyZD8p+zIfkNxZD8lmZIflM1JL+tG5L/sRhS/9p+AAdYoAnSreq9AAAAAElFTkSuQmCC" alt="" class="return"/>
            </div>
            <div data-v-4c2dcb20="" class="Maintitle">
                <h3 data-v-4c2dcb20="" style="background: #E89420">
                    {:__("Edit_Deposit_Pwd_Title")}
                </h3>
            </div>
        </div>

        <form action="" id="forgetpwd-form" style="margin-top: 10px">
            <div data-v-61ea9512="" class="bink_card">
                <h3 data-v-61ea9512="">{:__("Edit_Deposit_Pwd_Please_enter_your_new_password")}</h3>
                <ul data-v-61ea9512="" class="bink_card_ul">
                    <li data-v-61ea9512="">
                        <h4 data-v-61ea9512="">{:__("Edit_Deposit_Pwd_Login_Passwd")}</h4>
                        <input data-v-61ea9512="" type="text" name="old_pwd" placeholder='{:__("Edit_Deposit_Pwd_Enter_the_login_passwordEdit_Deposit_Pwd_Enter_the_login_password")}'/>
                        <input data-v-61ea9512="" type="hidden" name="type" value="2"/>
                    </li>
                    <li data-v-61ea9512="">
                        <h4 data-v-61ea9512="">{:__("Edit_Deposit_Pwd_Transaction")}</h4>
                        <input data-v-61ea9512="" name="new_pwd" type="text" maxlength="4" placeholder='{:__("Edit_Deposit_Pwd_Enter_new_transaction_password")}'/>
                    </li>
                    <li data-v-61ea9512="">
                        <h4 data-v-61ea9512="">{:__("Edit_Deposit_Pwd_Confirm")}</h4>
                        <input data-v-61ea9512="" name="password_confirm" type="text" maxlength="4" placeholder='{:__("Edit_Deposit_Pwd_Enter_transaction_password_again")}'/>
                    </li>
                </ul>
                <p data-v-cc2885a2="" style="color: #ccc; padding: 20px">
                    {:__("Edit_Deposit_Pwd_P1")}
                </p>
            </div>
            <button data-v-61ea9512="" class="form-buttom">
                {:__("Edit_Deposit_Pwd_Submit")}
            </button>
        </form>
    </div>
</div>

<script type="application/javascript">
    $(function () {
        var countdown = 120;
        var flag = true;
        var loading = null;

        function check() {
            if (
                $("input[name=old_pwd]").val() == "" ||
                $("input[name=new_pwd]").val() == ""
            ) {
                $(document).dialog({
                    infoText: "{:__('please enter the password')}",
                });
                return false;
            }
            if (
                $("input[name=new_pwd]").val() !==
                $("input[name=password_confirm]").val()
            ) {
                $(document).dialog({
                    infoText: "{:__('the two passwords entered are inconsistent')}",
                });
                return false;
            }
            return true;
        }

        $(".form-buttom").on("click", function () {
            if (check()) {
                $.ajax({
                    url: "/user/set_pwd",
                    data: $("#forgetpwd-form").serialize(),
                    type: "POST",
                    beforeSend: function () {
                        loading = $(document).dialog({
                            type: "notice",
                            infoIcon: "__CDN__/assets/default/img/loading.gif",
                            infoText: "{:__('loading')}",
                            autoClose: 0,
                        });
                    },
                    success: function (data) {
                        if (data.code == 401) {
                            $(document).dialog({
                                infoText: data.msg,
                                autoClose: 2000
                            });
                            setTimeout(function () {
                                window.location.href = '/user/login'
                            }, 2000)
                            return false
                        }
                        if (data.code === 1) {
                            loading.close();
                            $(document).dialog({infoText: data.msg});
                            setTimeout(function () {
                                window.location.href = "/user/personal";
                            }, 2000);
                        } else {
                            loading.close();
                            $(document).dialog({infoText: data.msg});
                        }
                    },
                });
            }
            return false;
        });
    });
</script>
</body>
</html>
