{include file="public/header" /}
<script src="//libs.cdnjs.net/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<style type="text/css" title="fading circle style">
    .circle-color-8>div::before {
        background-color: #ccc;
    }
</style>
<div id="app">
    <div data-v-dc85d3de="" class="main" style="margin-top: -15px;">
        <div data-v-dc85d3de="" class="header">
            <div style="color:#ffffff" class="left_btn" onclick="window.history.back(-1)">
                &lt; {:__('Invite_Back')}
            </div>
            <div class="Maintitle" style="display: none">
                <h3></h3>
            </div>
            <div class="right_btn"></div>
        </div>
        <input name="" id="webcopyinput" type="text" style="color: #FF0000; font-size: 20px; width: 1px; height: 1px; border: hidden; font-weight: bold; text-align: center;" value="">
        <div data-v-dc85d3de="" class="mint-swipe swiper" style="margin-top: -45px">
            <div class="mint-swipe-items-wrap">
                <div data-v-dc85d3de="" class="mint-swipe-item item is-active" style="background:#201291">
                    <div>
                        <img src="__CDN__/assets/default/img/bg_top3.png" alt="" style="width: 100%">
                    </div>

                    <div data-v-dc85d3de="" class="q6" style="padding-top: 0;">
                        <div id="qrcode" class="ewm qr"></div>
                        <h3 style="font-size: 16px; color:#ffffff" data-v-dc85d3de="" onclick="copy_txt('{$invite_code}')">{$invite_code}
                        </h3>
                        <div data-v-dc85d3de="" class="user" id="user" style="color: #ffffff; height: 150px;margin: 0;padding: 30px 40px;">
                            <h3 style="font-size: 14px; color:#ffffff" data-v-dc85d3de="" onclick="copy_txt('{$url}')">
                                {:__("Invite_Copy")}</h3>
                            <button style="padding: 5px 12px 5px;color: #0c0c0c" onclick="copy_txt('{$url}')">{:__("Copy")}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mint-swipe-indicators">
                <div class="mint-swipe-indicator is-active"></div>
            </div>

        </div>
        <div data-v-dc85d3de="" class="mint-popup mint-popup-bottom" style="display: none;">
            <ul data-v-dc85d3de="" infinite-scroll-disabled="loading" infinite-scroll-distance="10"></ul>
        </div>
    </div>
</div>

<script>
    function copy_txt(xx) {
        var text = document.getElementById("webcopyinput");
        text.id = 'webcopyinput';
        text.value = '' + xx + '';
        text.focus();//给input输入框聚焦
        text.setSelectionRange(0, text.value.length);//设置input框选中的范围
        copied = document.execCommand('Copy');//执行复制操作
        text.blur();
        copied = false;
        document.body.scrollTop = 0;
        $(document).dialog({ infoText: 'Copy success' });
    }

    $(function () {
        $('#qrcode').qrcode({width: 128,height: 128,text: '{$url}'});

    })
</script>

</body>

</html>