{include file="public/header" /}
<style type="text/css" title="fading circle style">
    .circle-color-8 > div::before {
        background-color: #ccc;
    }
</style>
<div id="app">
    <div data-v-77f94c0c="" class="main">
        <div data-v-4c2dcb20="" class="header">
            <div class="left_btn" onclick="window.location.href=`/user/index`">
                <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAAXNSR0IArs4c6QAAAQ1JREFUSEul1WlKxEAUReHzluo8IWjjgIojKrbiAArOOOzLrXilhISLdqeT1/kZcr5KKpVKkDgk3QBfEXEbXXtJ18AKIGC5EyDpCli1Qe9aA5IugZ7F98BSK0DSBbBm8QOwGBEaCUg6B9YtfgQWSlzONQKS+sCGxU/AfBU3ApLOgE2Ln4E5j4cCkk6BLYtfgNm/8UBA0gmwbfErMDMo/gdIOgZ2LH4DpiPie9iCqydR0hGwaxe+A1NNcX0Hkg6BPYs/gMlR8S8g6QDYt/gTmGgTV0CJC1Id3YBSjfUI1bBjTaIh+ddoSH4hGZJfyobkPyZD8p+zIfkNxZD8lmZIflM1JL+tG5L/sRhS/9p+AAdYoAnSreq9AAAAAElFTkSuQmCC"
                        alt=""
                        class="return"
                />
            </div>
            <div data-v-4c2dcb20="" class="Maintitle">
                <h3 data-v-4c2dcb20="" style="background: #E89420;color:#fff">
                    {:__("Set_Personal")}
                </h3>
            </div>
        </div>

        <ul data-v-77f94c0c="" class="Personal_ul">
            <a data-v-77f94c0c="" href="javascript:void(0)" onclick="location.href=`{:url('/user/set_header')}`" class="">
                <li data-v-77f94c0c="">
                    <h3 data-v-77f94c0c="">{:__("Set_Avatar")}</h3>
                    <img data-v-77f94c0c="" :src="info.headpic" alt="" onerror="this.src='__CDN__/assets/common/img/head.png'" class="Personal_ul_r_img"/>
                </li>
            </a>
            <a data-v-77f94c0c="" class="">
                <li data-v-77f9owen="">
                    <h3 data-v-77f94c0c="">{:__("Set_Username")}</h3>
                    <p data-v-77f94c0c="">{{info.username}}</p>
                </li>
            </a>
            <li data-v-77f9owen="">
                <h3 data-v-77f94c0c="">{:__("Set_Phone_number")}</h3>
                <p data-v-77f94c0c="">{{info.tel}}</p>
            </li>
            <a data-v-77f94c0c="" href="javascript:void(0)" onclick="window.location.href=`/user/bind_bank`" class="">
                <li data-v-77f94c0c="">
                    <h3 data-v-77f94c0c="">{:__("Set_Bank_card")}</h3>
                    <p data-v-77f94c0c=""></p>
                </li>
            </a>
            <a data-v-77f94c0c="" href="javascript:void(0)" onclick="location.href=`{:url('/user/edit_pwd')}`" class="">
                <li data-v-77f94c0c="">
                    <h3 data-v-77f94c0c="">{:__("Set_Login_Password")}</h3>
                    <p data-v-77f94c0c=""></p>
                </li>
            </a>
            <a data-v-77f94c0c="" href="javascript:void(0)" onclick="location.href=`{:url('/user/edit_deposit_pwd')}`" class="">
                <li data-v-77f94c0c="">
                    <h3 data-v-77f94c0c="">{:__("Set_Transaction_Password")}</h3>
                    <p data-v-77f94c0c=""></p>
                </li>
            </a>
        </ul>
    </div>
</div>
<script>
    const app = Vue.createApp({
        setup() {
            const info = Vue.ref([]);

            const getUserInfo = () => {
                axios.post('/user/getUserInfo').then(function (result) {
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        $(document).dialog({
                            infoText: res.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        info.value = res.data
                    }
                })
            }
            getUserInfo()
            return {
                info,
                getUserInfo,
            };
        },
    });
    app.use(vant);
    app.use(vant.Toast);
    app.mount("#app");
</script>
</body>
</html>
