{include file="public/header" /}
<style type="text/css" title="fading circle style">
    .circle-color-8 > div::before {
        background-color: #ccc;
    }

    textarea {
        color: #ffffff;
        background-color: #ffffff;
    }
</style>
<div id="app">
    <div data-v-61ea9512="" class="main">
        <div data-v-4c2dcb20="" class="header">
            <div class="left_btn" onclick="window.history.back(-1)">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAAXNSR0IArs4c6QAAAQ1JREFUSEul1WlKxEAUReHzluo8IWjjgIojKrbiAArOOOzLrXilhISLdqeT1/kZcr5KKpVKkDgk3QBfEXEbXXtJ18AKIGC5EyDpCli1Qe9aA5IugZ7F98BSK0DSBbBm8QOwGBEaCUg6B9YtfgQWSlzONQKS+sCGxU/AfBU3ApLOgE2Ln4E5j4cCkk6BLYtfgNm/8UBA0gmwbfErMDMo/gdIOgZ2LH4DpiPie9iCqydR0hGwaxe+A1NNcX0Hkg6BPYs/gMlR8S8g6QDYt/gTmGgTV0CJC1Id3YBSjfUI1bBjTaIh+ddoSH4hGZJfyobkPyZD8p+zIfkNxZD8lmZIflM1JL+tG5L/sRhS/9p+AAdYoAnSreq9AAAAAElFTkSuQmCC" alt="" class="return"/>
            </div>
            <div data-v-4c2dcb20="" class="Maintitle">
                <h3 data-v-4c2dcb20="" style="background: #E89420">
                    {:__("Proposal_Title")}
                </h3>
            </div>
        </div>

        <div data-v-61ea9512="" class="bink_card">
            <h3 data-v-61ea9512="" style="margin-top: 10px">
                {:__("Proposal_Your_comments_or_suggestions")}:
            </h3>
            <ul data-v-61ea9512="" class="bink_card_ul">
                <li data-v-61ea9512="">
                <textarea rows="15" cols="45" placeholder='{:__("Proposal_text")}' id="form-text"></textarea>
                </li>
            </ul>
            <p data-v-cc2885a2="" style="padding: 20px; color: #fffdff">
                {:__("Proposal_Tip")}
            </p>
        </div>

        <button data-v-61ea9512="" onclick="submit()" id="submit" class="form-buttom">
            {:__("Proposal_Submit")}
        </button>
    </div>
</div>
<script type="application/javascript">
    function submit() {
        var text = $("#form-text").val();
        if (text == "" || text == null) {
            $(document).dialog({
                infoText: '{:__("Submitted information cannot be empty")}',
            });
        } else {
            $(document).dialog({infoText: '{:__("Submit Success")}'});
            window.location.href = "/user/index";
        }
    }
</script>
</body>
</html>
