<style>
    .tab-content>.chart {
        padding: 10px;
    }

    .card {
        background-color: #fff !important;
        color: rgba(0, 0, 0, 0.85) !important;
    }

    .card-head-wrapper {
        display: flex;
        align-items: center;
        min-height: 36px;
        padding: 0 12px;
        font-size: 14px;
    }

    .card-title {
        display: inline-block;
        flex: 1;
        padding: 16px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, 0.85) !important;
        background-color: #fff !important;
        text-align: left !important;
        border-bottom: 1px solid #f0f0f0;
        padding: 8px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .small-box h3 {
        font-size: 30px;
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: unset !important;
    }

    .justify-between{
        justify-content: space-between;
    }

    .flex {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">今日注册</span>
            </div>
            <div class="inner">
                <h3>{$todayUser}</h3>

                <div class="flex justify-between">
                    <span>昨日注册</span>
                    <span>{$yesterdayUser}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">今日充值</span>
            </div>
            <div class="inner">
                <h3>{$todayRecharge}</h3>

                <div class="flex justify-between">
                    <span>昨日充值</span>
                    <span>{$yesterdayRecharge}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">今日取款</span>
            </div>
            <div class="inner">
                <h3>{$todayDeposit}</h3>

                <div class="flex justify-between">
                    <span>昨日取款</span>
                    <span>{$yesterdayDeposit}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">充值人数</span>
            </div>
            <div class="inner">
                <h3>{$todayRechargeUser}</h3>

                <div class="flex justify-between">
                    <span>昨日人数</span>
                    <span>{$yesterdayRechargeUser}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">今日盈利</span>
            </div>
            <div class="inner">
                <h3>{$todayProfit}</h3>

                <div class="flex justify-between">
                    <span>昨日盈利</span>
                    <span>{$yesterdayProfit}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        <div class="small-box bg-aqua card card-bordered">
            <div class="card-head-wrapper">
                <span class="card-title">本月盈利</span>
            </div>
            <div class="inner">
                <h3>{$thisMonthProfit}</h3>

                <div class="flex justify-between">
                    <span>上月盈利</span>
                    <span>{$lastMonthProfit}</span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#register" data-toggle="tab">{:__('Register')}</a></li>
            <li><a href="#recharge" data-toggle="tab">{:__('Recharge')}</a></li>
            <li><a href="#withdraw" data-toggle="tab">{:__('Withdraw')}</a></li>
            <li><a href="#profit" data-toggle="tab">{:__('Profit')}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="register">

                <div class="row">
                    <div class="col-lg-12">
                        <div id="registerEchart" class="btn-refresh" style="height:300px;width:100%;"></div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="recharge">

                <div class="row">
                    <div class="col-xs-12">
                        <div id="rechargeEchart" class="btn-refresh" style="height:300px;width:100%;"></div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="withdraw">

                <div class="row">
                    <div class="col-xs-12">
                        <div id="withdrawEchart" class="btn-refresh" style="height:300px;width:100%;"></div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="profit">

                <div class="row">
                    <div class="col-xs-12">
                        <div id="profitEchart" class="btn-refresh" style="height:300px;width:100%;"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
