<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
        <div class="panel panel-default panel-intro">
            <div class="panel-body">
                <div id="1" class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div class="widget-body no-padding">
                            <div id="toolbar1" class="toolbar">
                                {:build_toolbar('refresh,add,edit')}
                            </div>
                            <table id="table1" class="table table-striped table-bordered table-hover"
                                   data-operate-edit="{:$auth->check('order_model/edit')}"
                                   data-operate-del="false"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
        <div class="panel panel-default panel-intro">
            <div class="panel-body">
                <div id="myTabContent2" class="tab-content">
                    <div class="tab-pane fade active in" id="two">
                        <div class="widget-body no-padding">
                            <div id="toolbar2" class="toolbar">
                                {:build_toolbar('refresh')}
                                <a href="javascript:;" class="btn btn-success btn-add-child {:$auth->check('order_model/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                                {:build_toolbar('edit')}
                                <a href="javascript:;" class="btn btn-danger hide">当前抢单分组模板:<span id="parent"></span></a>
                                <input type="hidden" id="parent-id">
                            </div>
                            <table id="table2" class="table table-striped table-bordered table-hover"
                                   data-operate-edit="{:$auth->check('order_model/edit')}"
                                   data-operate-del="false"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
        <div class="panel panel-default panel-intro">
            <div class="panel-body">
                <div id="myTabContent3" class="tab-content">
                    <div class="tab-pane fade active in" id="three">
                        <div class="widget-body no-padding">
                            <div id="toolbar3" class="toolbar">
                                {:build_toolbar('refresh')}
                                <a href="javascript:;" class="btn btn-success btn-add-new {:$auth->check('order_model_list/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                                {:build_toolbar('edit')}
                                <a href="javascript:;" class="btn btn-danger hide">当前抢单模板:<span id="model"></span></a>
                                <input type="hidden" id="model-id">
                            </div>
                            <table id="table3" class="table table-striped table-bordered table-hover"
                                   data-operate-edit="{:$auth->check('order_model_list/edit')}"
                                   data-operate-del="{:$auth->check('order_model_list/del')}"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>