<!DOCTYPE html>
<html data-dpr="1" style="font-size: 37.5px">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
            name="viewport"
            content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"
    />
    <title>Customer Service</title>
    <link
            href="__STATIC__/css/app.7b22fa66c2af28f12bf32977d4b82694.css?v=454545sadasdasdasdaas"
            rel="stylesheet"
    />
    <script charset="utf-8" src="__STATIC__/js/jquery.min.js"></script>
    <script charset="utf-8" src="__STATIC__/js/common.js"></script>
    <style type="text/css" title="fading circle style">
        .circle-color-8 > div::before {
            background-color: #ccc;
        }
    </style>
</head>
<body style="font-size: 12px">
<div id="app">
    <div data-v-77f94c0c="" class="main">
        <div data-v-4c2dcb20="" class="header">
            <div class="left_btn" onclick="window.history.go(-1)" style="width: 30px;height: 30px" >
                <img src="/assets/common/back.png" alt="" class="return" width="100%"/>
            </div>
            <div data-v-4c2dcb20="" class="Maintitle">
                <h3 data-v-4c2dcb20="">
                    Customer Service
                </h3>
            </div>
        </div>

        <iframe src="https://secure.livechatinc.com/licence/16972266/v2/open_chat.cgi?groups=0" style="height: 100vh;width: 100%"></iframe>
    </div>
</div>
</body>
</html>
