{include file="common/header" /}
<style>
    :root {
        --van-overlay-background-color: rgba(113, 110, 110, 0.6)
    }

    .overlay-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div id="app">
    <van-overlay v-model:show="isLoading1" class="overlay-container">
        <div class="loading-container">
            <van-loading size="30px" type="spinner" size="24px" color="#fff" text-color="#323232" text-size="24px" vertical="true">
                {{ isLoadingText }}
            </van-loading>
        </div>
    </van-overlay>
    <div class="content" v-if="!isLoading">
        <div class="con_top" @click="backPage">
            <span><img
                    src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Order_Index_Order")}</em>
        </div>
        <div class="lb_top">
            <div class="row">
                <h1>{:__("Order_Index_Order")}</h1>
                <p>{:__("Order_Index_Remaining")}</p>
                <h2>{{userInfo.balance}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="ld_con">
                <div class="ld_top_ul clearflx">
                    <ul>
                        <li :class="{on:index==isSelect}" v-for="item,index in statusList" @click="chooseStatus(index)">
                            <a>{{item}}</a></li>
                    </ul>
                </div>
                <div class="ld_tit">
                    <ul>
                        <li v-for="item in list">
                            <div class="ld_ul_a">
                                <div class="ld_ul_bottom no-margin" v-if="item.status == 0 && item.close_time > 0">
                                    <ul>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Order_Index_Order_Count_Down')}</span>
                                            <em class="f_r color8">{{item.time}}</em>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ld_ul_tit clearflx">
                                    <!-- timeout -->
                                    <span class="f_r color8" v-if="item.close_time > 0 && item.status == 99">{:__('Order_Index_Timeout')}</span>
                                    <!-- success -->
                                    <span class="f_r color8" v-if="item.status == 1 || item.status == 3">{:__('Order_Index_Success')}</span>
                                    <!-- pending -->
                                    <span class="f_r" v-if="item.status == 0">{:__('Order_Index_Pending')}</span>
                                    <!-- freezing -->
                                    <span class="f_r color7"
                                          v-if="item.status == 5">{:__('Order_Index_Freezing')}</span>
                                    <!-- cancel -->
                                    <span class="f_r color6" v-if="item.status == 2 || item.status == 4">{:__('Order_Index_Cancel')}</span>

                                    <p class="f_l">{:__('Order_Index_Order_number')}: {{item.id}}</p>
                                    <p class="f_l">{:__('Order_Index_Order_time')}: {{item.create_at}}</p>
                                </div>
                                <div class="ld_ul_top clearflx" v-for="value in item.goods">
                                    <span class="f_l"><img :src="value.goods_pic"></span>
                                    <div class="ld_ul_r">
                                        <p>{{value.goods_name}}</p>
                                        <div class="ld_ul_p clearflx">
                                            <p class="f_l">{{value.total}}</p>
                                            <em class="f_r">x{{item.num}}</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="ld_ul_bottom">
                                    <ul>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Order_Index_Order_total')}</span>
                                            <em class="f_r">{{item.total}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Order_Index_Commission')}</span>
                                            <em class="f_r">{{item.commission}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__("Order_Index_Expected")}</span>
                                            <em class="f_r">{{item.expected}}</em>
                                        </li>
                                    </ul>
                                </div>
                                <button class="ld_anniu" type="button" @click="submitOrder(item.id)"
                                        v-if="item.status == 0">{:__("Order_Index_Submit_orders")}
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ld_tit orderDetail" v-if="showOrder">
                    <ul class="orderInfo">
                        <li>
                            <div class="ld_ul_a">
                                <div class="ld_ul_tit clearflx">
                                    <!-- pending -->
                                    <span class="f_r">{:__('Order_Index_Pending')}</span>
                                    <p class="f_l">{:__('Order_Index_Order_time')}: {{orderInfo.receive_at}}</p>
                                    <br>
                                    <p class="f_l">{:__('Order_Index_Order_number')}: {{orderInfo.oid}}</p>
                                </div>
                                <div class="ld_ul_top clearflx" v-for="item in orderInfo.goods">
                                    <span class="f_l"><img :src="item.goods_pic"></span>
                                    <div class="ld_ul_r">
                                        <p>{{item.goods_name}}</p>
                                        <div class="ld_ul_p clearflx">
                                            <p class="f_l">{{item.goods_price}}</p>
                                            <em class="f_r">x{{orderInfo.num}}</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="ld_ul_bottom">
                                    <ul>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Order_Index_Order_total')}</span>
                                            <em class="f_r">{{orderInfo.total}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Order_Index_Commission')}</span>
                                            <em class="f_r">{{orderInfo.commission}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__("Order_Index_Expected")}</span>
                                            <em class="f_r">{{orderInfo.expected}}</em>
                                        </li>
                                    </ul>
                                </div>
                                <button class="ld_anniu" type="button" @click="submit_order">
                                    {:__("Order_Index_Submit_orders")}
                                </button>
                            </div>
                        </li>
                        <img src="__CDN__/assets/monochrome/img/close.png" class="close" @click="close">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({

        setup() {
            const isLoading = Vue.ref(true)
            const isLoading1 = Vue.ref(false)
            const isLoadingText = Vue.ref('')
            const page = Vue.ref(1)
            const status = Vue.ref('{$status}')
            const list = Vue.ref([])
            const isMore = Vue.ref(true)
            const statusList = Vue.ref(["{:__('Order_Index_All')}", "{:__('Order_Index_Pending')}", "{:__('Order_Index_Completed')}", "{:__('Order_Index_Freezing')}",])
            const isSelect = Vue.ref(0)
            const userInfo = Vue.ref([])
            const order_id = Vue.ref('')
            const orderInfo = Vue.ref({})
            let timer = null
            const showOrder = Vue.ref(false)
            var loading = layer.load(2, {
                shade: [0.1, '#000'] //0.1透明度的白色背景
            });

            const backPage = () => {
                window.history.go(-1)
            }


            const close = () => {
                showOrder.value = !showOrder.value
            }

            const chooseStatus = (index) => {
                isSelect.value = index
                page.value = 1
                isMore.value = true
                status.value = statusList.value[index]
                list.value = []
                loading = layer.load(2, {
                    shade: [0.1, '#000'] //0.1透明度的白色背景
                });
                getOrderList()
            }

            const getOrderList = () => {
                axios.post('/order/index', {
                    status: status.value,
                    page: page.value
                }).then(function (result) {
                    layer.close(loading);
                    isLoading.value = false;
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        $(document).dialog({
                            infoText: res.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        var pageList = res.data.data
                        if (pageList.length) {
                            page.value++;
                            list.value = list.value.concat(pageList)
                            list.value.forEach(item => {
                                if (item.close_time > 0) {
                                    var result = getTimeRemaining(item.current_time, item.close_time); // 计算倒计时
                                    item.time = result.count_down
                                    item.current_time = result.current_time
                                    if (item.time == 0) {
                                        item.status = 99;
                                    }
                                }
                            });
                        } else {
                            isMore.value = false
                        }
                    }
                })
            }

            const getTimeRemaining = (current_time, close_time) => {
                if (close_time - current_time > 0) {
                    var time = close_time - current_time

                    let h = parseInt(time / (60 * 60) % 24);
                    h = h < 10 ? "0" + h : h
                    let m = parseInt(time / 60 % 60);
                    m = m < 10 ? "0" + m : m
                    let s = parseInt(time % 60);
                    s = s < 10 ? "0" + s : s
                    current_time++
                    return {'count_down': h + ':' + m + ':' + s, 'current_time': current_time}
                } else {
                    return {'count_down': 0, 'current_time': 0}
                }
            }

            const lazyLoading = () => {
                // // 滚动到底部，再加载的处理事件
                const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                const clientHeight = document.documentElement.clientHeight;
                const scrollHeight = document.documentElement.scrollHeight;
                if (scrollTop + clientHeight >= scrollHeight && isMore.value) {
                    loading = layer.load(2, {
                        shade: [0.1, '#000'] //0.1透明度的白色背景
                    });
                    //记住滚动到底的时候，当前页需要加1
                    getOrderList();
                }
            };

            const getUserInfo = () => {
                axios.post('/user/getUserInfo').then(function (result) {
                    layer.close(loading);
                    isLoading.value = false;
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        layer.msg(res.msg)
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        userInfo.value = res.data
                    }
                })
            }

            const submitOrder = (id) => {
                order_id.value = id
                loading = layer.load(2, {
                    shade: [0.1, '#000'] //0.1透明度的白色背景
                });
                axios.post('/snap_order/order_info', {
                    id: id,
                }).then(function (result) {
                    layer.close(loading);
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        layer.msg(res.msg)
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code == 402) {
                        layer.msg(res.msg)
                        setTimeout(function () {
                            window.location.href = '/user/recharge'
                        }, 1000)
                        return false
                    }
                    if (res.code) {
                        if (res.data.order_type == 1) {
                            var rate = ((res.data.commission / res.data.goods_price) * 100).toFixed(0)
                            rate = rate.toString()
                            var commissionTips = "{:__('Rot_Order_Index_Submission_Commission')}"
                            commissionTips = commissionTips.replace('commissionTips', rate + '%');
                            layer.open({
                                type: 1,
                                title: '{:__("Rot_Order_Index_Submission")}',
                                content: "<img src='__CDN__/assets/common/gift.gif' style='width: 330px;height: 330px;margin: 0 auto;display: block'>" +
                                    "<div style='text-align: center;font-size: 16px'>{:__('Rot_Order_Index_Submission_Luck')}</div>" +
                                    "<div style='text-align: center;font-size: 16px;margin-top: 20px;padding: 10px'>" + commissionTips + "</div>",
                                offset: 'auto',
                                btn: ['{:__("Rot_Order_Index_Submission_Btn")}'],
                                yes: function (index, layero) {
                                    //按钮【按钮一】的回调
                                    layer.close(index)
                                    showOrder.value = !showOrder.value
                                    orderInfo.value = res.data
                                }
                            })
                        } else {
                            showOrder.value = !showOrder.value
                            orderInfo.value = res.data
                        }

                    } else {
                        layer.msg(res.msg)
                    }
                })
            }

            const submit_order = () => {
                showOrder.value = false
                var zhujiTime = "{:config('app.deal_zhuji_time')}";
                var shopTime = "{:config('app.deal_shop_time')}";

                zhujiTime = zhujiTime * 1000;
                shopTime = shopTime * 1000;
                //--------------------------------
                var i = 0;
                loadingFunction("", zhujiTime)

                //--------------------------------

                loadingFunction("", zhujiTime)

                var timer = setInterval(function () {
                    i++;
                    if (i == 1) {
                        loadingFunction("", zhujiTime)
                    } else if (i == 2) {
                        loadingFunction("", shopTime)
                        setTimeout(function () {
                            axios.post('/snap_order/submit_order', {
                                oid: order_id.value,
                            }).then(function (result) {
                                isLoading1.value = false
                                layer.closeAll();
                                // 加载状态结束
                                var res = result.data
                                if (res.code == 401) {
                                    layer.msg(res.msg)
                                    setTimeout(function () {
                                        window.location.href = '/user/login'
                                    }, 2000)
                                    return false
                                }
                                if (res.code == 402) {
                                    layer.msg(res.msg)
                                    setTimeout(function () {
                                        window.location.href = '/user/recharge'
                                    }, 1000)
                                    return false
                                }
                                if (res.code) {
                                    clearInterval(timer);
                                    location.reload();
                                } else {
                                    layer.msg(res.msg)
                                }
                                sumbit = true;
                            })
                        }, shopTime);
                    }
                }, zhujiTime);
            }

            const loadingFunction = (content, time) => {
                return false
                isLoading1.value = true
                isLoadingText.value = content
                // layer.load(1, {
                //     time: time,
                //     shade: [0.5, '#000'],
                //     content: '<div class="loadtip">' + content + '</div>',
                //     success: function (layer) {
                //         layer.find('.layui-layer-content').css({
                //             'padding-top': '30px',
                //             'width': '100px',
                //         });
                //         layer.find('.loadtip').css({
                //             'font-size': '18px',
                //             'margin-left': '5px',
                //             'color': '#fff'
                //         });
                //     }
                // });
            }

            const countDown = () => {
                list.value.forEach(item => {
                    if (item.close_time > 0) {
                        var result = getTimeRemaining(item.current_time, item.close_time); // 计算倒计时
                        item.time = result.count_down
                        item.current_time = result.current_time

                        if (item.time == 0) {
                            item.status = 99;
                        }
                    }

                });
            }

            getOrderList()

            getUserInfo()

            return {
                isLoading,
                isLoading1,
                isLoadingText,
                timer,
                page,
                list,
                isSelect,
                statusList,
                userInfo,
                order_id,
                orderInfo,
                showOrder,
                close,
                backPage,
                loadingFunction,
                submit_order,
                chooseStatus,
                getOrderList,
                lazyLoading,
                getUserInfo,
                submitOrder,
                getTimeRemaining,
                countDown,
            };

        },
        mounted() {
            var that = this
            window.addEventListener('scroll', this.lazyLoading)
            this.timer = setInterval(() => {
                that.countDown();
            }, 1000);
        },
        unmounted() {
            clearInterval(this.timer);
        },
    });
    app.mount("#app");
</script>
{include file="common/footer" /}