<!DOCTYPE html>
<html data-dpr="1" style="font-size: 37.5px">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>{$title??''}</title>
    <link rel="stylesheet" href="__CDN__/assets/{$template}/css/swiper.min.css"/>
    <link rel="stylesheet" href="__CDN__/assets/{$template}/css/app.7b22fa66c2af28f12bf32977d4b82694.css?v=sa1f2s.sdf.a"/>
    <link rel="stylesheet" href="__CDN__/assets/{$template}/css/home.css?v=adsf1adf0ada"/>
    <link rel="stylesheet" href="__CDN__/assets/{$template}/css/public.css"/>
    <link rel="stylesheet" href="__CDN__/assets/{$template}/css/rot_order.css">
    <link rel="stylesheet" href="__CDN__/assets/{$template}/js/layer_mobile/need/layer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@3/lib/index.css"/>

    <script charset="utf-8" src="__CDN__/assets/{$template}/js/jquery.min.js"></script>
    <script charset="utf-8" src="__CDN__/assets/{$template}/js/common.js"></script>
    <script charset="utf-8" src="__CDN__/assets/{$template}/js/swiper.min.js"></script>
    <script charset="utf-8" src="__CDN__/assets/{$template}/js/dialog.min.js"></script>
    <script charset="utf-8" src="__CDN__/assets/{$template}/js/md5.js"></script>
    <script charset="utf-8" src="__CDN__/assets/{$template}/js/layer_mobile/layer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@3.5.1/lib/vant.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body style="font-size: 12px" class="bg">