{include file="common/header" /}
<div id="app">
    <div class="content" v-if="!isLoading">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Caiwu_Account")}</em>
        </div>
        <div class="row no-padding">
            <div class="dd_ul clearflx">
                <ul>
                    <li :class="{on:index==isSelect}" v-for="item,index in statusList" @click="chooseStatus(index)">
                        <a>{{item}}</a></li>
                </ul>
            </div>
            <div class="dd_tit">
                <ul>
                    <li v-for="item in list">
                        <a>
                            <div class="dd_tit_p clearflx">
                                <span class="f_l color4" v-if="item.type == 0">{:__("System changes")}</span>
                                <span class="f_l color4" v-if="item.type == 1">{:__("Caiwu_Recharge")}</span>
                                <span class="f_l color5" v-if="item.type == 2">{:__("Trade")}</span>
                                <span class="f_l color4" v-if="item.type == 3">{:__("Caiwu_Trade")}</span>
                                <span class="f_l color5" v-if="item.type == 4">{:__("Mandatory Transaction")}</span>
                                <span class="f_l color5" v-if="item.type == 5">{:__("Invite Commission")}</span>
                                <span class="f_l color5" v-if="item.type == 6">{:__("Commission")}</span>
                                <span class="f_l color5" v-if="item.type == 7">{:__("Caiwu_Withdraw")}</span>
                                <span class="f_l color5" v-if="item.type == 8">{:__("Interest")}</span>
                                <i class="f_r">{{item.oid}}</i>
                            </div>
                            <div class="dd_tit_p2 clearflx">
                                <span class="f_l"><b>{{item.create_time}}</b></span>
                                <i class="f_r" v-if="item.status == 1">+{{item.num}}</i>
                                <i class="f_r" v-else>-{{item.num}}</i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        setup() {
            const statusList = Vue.ref(['{:__("Caiwu_All")}', '{:__("Caiwu_Withdraw")}', '{:__("Caiwu_Recharge")}',]);
            const page = Vue.ref(1);
            const isSelect = Vue.ref(0)
            const status = Vue.ref('')
            const list = Vue.ref([])
            const isMore = Vue.ref(true)
            const isLoading = Vue.ref(false);
            var loading = layer.load(2, {
                shade: [0.1, '#000'] //0.1透明度的白色背景
            });

            const backPage = () => {
                window.history.go(-1)
            }

            const chooseStatus = (index) => {
                isSelect.value = index
                page.value = 1
                isMore.value = true
                status.value = statusList.value[index]
                list.value = []
                loading = layer.load(2, {
                    shade: [0.1, '#000'] //0.1透明度的白色背景
                });
                getList()
            }

            const getList = () => {
                axios.post('/user/account', {
                    page: page.value,
                    type: isSelect.value
                }).then(function (res) {
                    var result = res.data
                    layer.close(loading);
                    isLoading.value = false;
                    if (result.code == 401) {
                        $(document).dialog({
                            infoText: result.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (result.code == 1) {
                        var pageList = res.data.data
                        if (pageList.length) {
                            page.value++;
                            list.value = list.value.concat(pageList)
                        } else {
                            isMore.value = false
                        }
                    }
                })
            }

            const lazyLoading = () => {
                // // 滚动到底部，再加载的处理事件
                const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                const clientHeight = document.documentElement.clientHeight;
                const scrollHeight = document.documentElement.scrollHeight;
                if (scrollTop + clientHeight >= scrollHeight && isMore.value) {
                    loading = layer.load(2, {
                        shade: [0.1, '#000'] //0.1透明度的白色背景
                    });
                    //记住滚动到底的时候，当前页需要加1
                    getList();
                }
            };

            getList()

            return {
                statusList,
                page,
                isSelect,
                list,
                isMore,
                isLoading,
                status,
                chooseStatus,
                lazyLoading,
                backPage,
                getList,
            };
        },
        mounted() {
            window.addEventListener('scroll', this.lazyLoading)
        },
    });
    app.mount("#app");
</script>
{include file="common/footer" /}