{include file="common/header" /}
<div id="app">
    <div class="content">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Withdrawal_Address_Title")}</em>
        </div>
        <div class="row">
            <div class="con_bd">
                <h1>{:__('Withdrawal_Address_Address')}</h1>
                <ul>
                    <li class="clearflx"><span class="f_l">{:__('Withdrawal_Address_Address')}</span>
                        <div class="con_hd_r">
                            <input type="text" v-model="address" placeholder="{:__('Withdrawal_Address_Address_Input')}"/>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="con_anniu">
            <button class="con_button" type="button" @click="submit">{:__("Bank_Save")}</button>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        setup() {

            const address = Vue.ref("");
            const isRequest = Vue.ref(false);
            var loading = ''

            const backPage = () => {
                window.location.href = '/index/index'
            }

            const submit = () => {
                if (isRequest.value) {
                    return false
                }
                if (address.value == '') {
                    layer.msg("{:__('Withdrawal_Address_Address_Input')}");
                    return false
                }

                loading = layer.load(2, {
                    shade: [0.1, '#000'] //0.1透明度的白色背景
                });

                axios.post('/user/bindWithdrawalAddress', {address: address.value}).then(function (res) {
                    var result = res.data
                    isRequest.value = false
                    layer.close(loading);
                    if (result.code == 401) {
                        $(document).dialog({
                            infoText: result.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (result.code == 1) {
                        setTimeout(function () {
                            layer.msg("Success");
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }, 2000);
                    } else {
                        layer.msg(result.msg);
                    }
                })
            }

            return {
                address,
                isRequest,
                backPage,
                submit,
            };
        },
    });
    app.mount("#app");
</script>
{include file="common/footer" /}