{include file="common/header" /}
<div id="app">
    <div class="content">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Edit_Deposit_Pwd_Title")}</em>
        </div>
        <div class="row2">
            <div class="zc_top">
                <div class="zc_logo">
                    <img src="__CDN__/assets/{$template}/img/230404pc_logo.png">
                </div>
                <p>{:__("Edit_Deposit_Pwd_Please_enter_your_new_password")}</p>
            </div>
            <div class="zc_top_in">
                <ul>
                    <li>
                        <input type="text" v-model="old_pwd"
                               placeholder='{:__("Edit_Deposit_Pwd_Enter_the_login_password")}'/></li>
                    <li>
                        <input type="text" v-model="new_pwd"
                               placeholder='{:__("Edit_Deposit_Pwd_Enter_new_transaction_password")}'/></li>
                    <li>
                        <input type="text" v-model="password_confirm"
                               placeholder='{:__("Edit_Deposit_Pwd_Enter_transaction_password_again")}'/></li>
                    <li>
                        <button type="button" class="submit" @click="submit">{:__("Edit_Deposit_Pwd_Submit")}</button>
                    </li>
                </ul>
            </div>
            <div class="zc_p">
                <p>{:__('Edit_Deposit_Pwd_P1')}</p>
            </div>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        setup() {
            const old_pwd = Vue.ref('')
            const new_pwd = Vue.ref('')
            const password_confirm = Vue.ref('')
            const isRequest = Vue.ref(false)
            var loading = ''

            const backPage = () => {
                window.history.go(-1)
            }

            const check = () => {
                if (old_pwd.value == "" || new_pwd.value == "") {
                    layer.msg('{:__("please enter the password")}');
                    return false;
                }
                if (new_pwd.value !== password_confirm.value) {
                    layer.msg('{:__("the two passwords entered are inconsistent")}');
                    return false;
                }
                return true;
            }

            const submit = () => {
                if (check()) {
                    loading = layer.load(2, {
                        shade: [0.1, '#000'] //0.1透明度的白色背景
                    });
                    if (isRequest.value) {
                        return false
                    }
                    isRequest.value = true
                    axios.post('/user/set_pwd',{
                        old_pwd: old_pwd.value,
                        new_pwd: new_pwd.value,
                        type: 2
                    }).then(function (result) {
                        layer.close(loading);
                        isRequest.value = false;
                        // 加载状态结束
                        var res = result.data
                        if (res.code == 401) {
                            $(document).dialog({
                                infoText: res.msg,
                                autoClose: 2000
                            });
                            setTimeout(function () {
                                window.location.href = '/user/login'
                            }, 2000)
                            return false
                        }
                        layer.msg(res.msg)
                        if (res.code) {
                            window.location.href = "/user/personal";
                        }
                    })
                }
            }

            return {
                old_pwd,
                new_pwd,
                password_confirm,
                backPage,
                check,
                submit,
            };
        },
    });
    app.mount("#app");
</script>
{include file="common/footer" /}
