{include file="common/header" /}
<script src="//libs.cdnjs.net/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<style>
	.con_bd3 .ewm span canvas {
		width: 100%;
	}
</style>
<div id="app">
	<div class="content">
		<div class="con_top" onclick="window.history.go(-1)">
			<span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png" ></span><em>{:__("Invite friends")}</em>
		</div>
		<div class="row2">
			<div class="dd_top">
				<h1>{:__('Invite friends')}</h1>
			</div>
			<div class="con_bd3 li">
				<div class="ewm">
					<h2>{:__('Invitation code')} </h2>
					<p>{$invite_code}</p>
					<span id="qrcode"></span>
				</div>
				<button class="con_button" type="button" onclick="copy_txt('{$url}')">{:__("Copy")}</button>
				<input id="webcopyinput" type="text" style="color: #FF0000; font-size: 20px; width: 1px; height: 1px; border: hidden; font-weight: bold; text-align: center;" value="">
			</div>
		</div>
	</div>
</div>
<script>

	function copy_txt(xx) {
		var text = document.getElementById("webcopyinput");
		text.id = 'webcopyinput';
		text.value = '' + xx + '';
		text.focus();//给input输入框聚焦
		text.setSelectionRange(0, text.value.length);//设置input框选中的范围
		copied = document.execCommand('Copy');//执行复制操作
		text.blur();
		copied = false;
		document.body.scrollTop = 0;
		layer.msg('Copy success' );
	}

	$(function () {
		$('#qrcode').qrcode({width: 128,height: 128,text: '{$url}'});
	})
</script>
{include file="common/footer" /}