{include file="common/header" /}
<div id="app">
    <div class="content" v-if="!isLoading">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Set_Personal")}</em>
        </div>
        <div class="row2">
            <div class="sz_ul">
                <ul>
                    <li class="clearflx">
                        <span class="f_l">{:__("Set_Avatar")}</span>
                        <em class="f_r">
                            <i><img :src="info.headpic"></i>
<!--                            <b><img src="__CDN__/assets/monochrome/img/230404pc_icon15.png"></b>-->
                        </em>
                    </li>
                    <li class="clearflx">
                        <span class="f_l">{:__("Set_Username")}</span>
                        <em class="f_r">
                            <strong>{{info.username}}</strong>
                        </em>
                    </li>
<!--                    <li class="clearflx">-->
<!--                        <span class="f_l">{:__("Set_Phone_number")}</span>-->
<!--                        <em class="f_r">-->
<!--                            <strong>{{info.tel}}</strong>-->
<!--                        </em>-->
<!--                    </li>-->
<!--                    <li class="clearflx" @click="go('/user/bind_bank')">-->
<!--                        <span class="f_l">{:__("Set_Bank_card")}</span>-->
<!--                        <em class="f_r"><b><img src="__CDN__/assets/monochrome/img/230404pc_icon15.png"></b></em>-->
<!--                    </li>-->
                    <li class="clearflx" @click="go('/user/bind_address')">
                        <span class="f_l">{:__("Set_Bind_Address")}</span>
                        <em class="f_r"><b><img src="__CDN__/assets/monochrome/img/230404pc_icon15.png"></b></em>
                    </li>
                    <li class="clearflx" @click="go('/user/edit_pwd')">
                        <span class="f_l">{:__("Set_Login_Password")}</span>
                        <em class="f_r"><b><img src="__CDN__/assets/monochrome/img/230404pc_icon15.png"></b></em>
                    </li>
                    <li class="clearflx" @click="go('/user/edit_deposit_pwd')">
                        <span class="f_l">{:__("Set_Transaction_Password")}</span>
                        <em class="f_r"><b><img src="__CDN__/assets/monochrome/img/230404pc_icon15.png"></b></em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        setup() {
            const isLoading = Vue.ref(true)
            const info = Vue.ref([]);
            var loading = layer.load(2, {
                shade: [0.1, '#000'] //0.1透明度的白色背景
            });

            const backPage = () => {
                window.history.go(-1)
            }

            const go = (url) => {
                window.location.href = url
            }

            const getUserInfo = () => {
                axios.post('/user/getUserInfo').then(function (result) {
                    layer.close(loading)
                    isLoading.value = false
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        $(document).dialog({
                            infoText: res.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        info.value = res.data
                    }
                })
            }

            getUserInfo()

            return {
                info,
                isLoading,
                backPage,
                go,
                getUserInfo,
            };
        },
    });
    app.use(vant);
    app.use(vant.Toast);
    app.mount("#app");
</script>
{include file="common/footer" /}