{include file="common/header" /}
<div id="app">
    <div class="content">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Proposal_Title")}</em>
        </div>
        <div class="row2">
            <div class="zc_top">
                <div class="zc_logo">
                    <img src="__CDN__/assets/{$template}/img/230404pc_logo.png">
                </div>
                <p>{:__("Proposal_Your_comments_or_suggestions")}</p>
            </div>
            <div class="zc_top_in">
                <ul>
                    <li>
                        <input type="text" v-model="string" placeholder='{:__("Proposal_text")}'/></li>
                    <li>
                        <button type="button" class="submit" @click="submit">{:__("Proposal_Submit")}</button>
                    </li>
                </ul>
            </div>
            <div class="zc_p">
                <p>{:__('Proposal_Tip')}</p>
            </div>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        setup() {
            const string = Vue.ref('')
            var loading = ''

            const backPage = () => {
                window.history.go(-1)
            }

            const submit = () => {
                if (string == '') {
                    layer.msg('{:__("Submitted information cannot be empty")}')
                } else {
                    layer.msg('Submit Success')
                    window.location.reload();
                }
            }

            return {
                string,
                backPage,
                submit,
            };
        },
    });
    app.mount("#app");
</script>
{include file="common/footer" /}
