<!DOCTYPE html>
<html lang="en" class="deeppurple-theme">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta name="description" content="">
    <title>{:__("Register_Sign_Up")}</title>
    <link rel="stylesheet" href="/assets/prefeshop/css/register.css">
    <link rel="stylesheet" href="/assets/prefeshop/css/public.css">
    <meta name="google-site-verification" content="rUPJ2A9Zv6J2t9weFM4w8JKB59jAcDG-8ZvXdPVJM2M" />
</head>

<body>
    <div class="cont">
        <h1>{:__("Register_Sign_Up")}</h1>
        <form class="form-signin "><input type="hidden" name="ulang" value="en">
            <div class="password-container">
                <p>{:__("Register_Username1")}</p>
                <div><input type="text" name="user_name" placeholder='{:__("Register_Username")}' required="" autofocus=""></div>
                
                <p>{:__("Register_Login_password1")}</p>
                <div style="position: relative;"><input type="password" name="pwd" id="password-input2"
                        placeholder='{:__("Register_Login_password")}' required="" autofocus=""><span class="password-toggle"
                        onClick="togglePasswordVisibility()"><img src="/assets/prefeshop/picture/eye.png"
                            alt="Toggle Password"></span></div>
                            
                <p>{:__("Register_Invite_title")}</p>
                <div style="position: relative;">
                    <input type="text" id="invitecode-input" value="{$invite_code}" <?php echo $invite_code ? 'readonly' :''; ?> placeholder='{:__("Register_Invite_code")}' name="invite_code" >
                </div>
            </div>

            <div class="login_button form-buttom">{:__("Register_Register")}</div>

            <h4><span> {:__("Register_Login")} </span><a href="/index/user/login.html">Login</a></h4>
        </form>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password-input2");
            var passwordToggle = document.getElementsByClassName("password-toggle")[0];

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.innerHTML = '<img src="/assets/prefeshop/picture/eyes.png" alt="Toggle Password">';
            } else {
                passwordInput.type = "password";
                passwordToggle.innerHTML = '<img src="/assets/prefeshop/picture/eye.png" alt="Toggle Password">';
            }
        }
    </script><!-- jquery, popper and bootstrap js -->
    <script src="/assets/prefeshop/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/prefeshop/js/popper.min.js"></script>
    <script src="/assets/prefeshop/js/bootstrap.min.js"></script><!-- swiper js -->
    <script src="/assets/prefeshop/js/swiper-bundle.min.js"></script><!-- cookie js -->
    <script src="/assets/prefeshop/js/jquery.cookie.js"></script>
    <script charset="utf-8" src="/assets/prefeshop/js/dialog.min.js"></script>
    <script charset="utf-8" src="/assets/prefeshop/js/common.js"></script>
    <script type="application/javascript">
        $(function () {
            var countdown = 30;
            var flag = true;
            var loading = null;
            /*检查表单*/
            function check() {

                if ($("input[name=user_name]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_name'
                    });
                    return false;
                }

                // if($("input[name=mail_code]").val()==''){
                //     $(document).dialog({
                //         infoText: 'mail_code'
                //     });
                //     return false;
                // }

                if ($("input[name=pwd]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_pass'
                    });
                    return false;
                }

                if ($("input[name=invite_code]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_qr'
                    });
                    return false;
                }
                return true;
            }

            /*Verifikasi nomor ponsel*/
            function check_phone() {

                if ($("#ulang").val() == 0) {
                    $(document).dialog({
                        infoText: 'ulang'
                    });
                    return false;
                }

                if ($("input[name=user_name]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_name'
                    });
                    return false;
                }

                var myreg = /^([0-9|A-Z|a-z]|[\u4E00-\u9FA5\uF900-\uFA2D]){2,12}$/;
                // if (!myreg.test($("input[name=user_name]").val())) {
                //     $(document).toast( 'User name input error,requested 2-12 letters and numbers'});
                //     return false;
                // }
                if ($("input[name=tel]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_phone'
                    });
                    return false;
                }
                // var myreg=/^[1][3,4,5,6,7,8,9][0-9]{9}$/;
                // var myreg=/^[0][1-9][0-9]{8,11}$/;
                // if (!myreg.test($("input[name=tel]").val())) {
                //     $(document).toast( 'Input error：please enter the right phone number'});
                //     return false;
                // }
                return true;
            }

            /*验证码倒计时*/
            function time_down(obj) {
                if (countdown == 0) {
                    flag = true;
                    obj.html("send");
                    countdown = 30;
                    return;
                } else {
                    flag = false;
                    obj.text(countdown + "s");
                    countdown--;
                }
                setTimeout(function () { time_down(obj) }, 1000);
            }

            /*获取验证码*/
            $(".mail-code").on('click', function () {
                if ($("input[name=user_name]").val() == '') {
                    $(document).dialog({
                        infoText: 'login_name'
                    });
                    return false;
                }
                sendMailCode()
            });

            var sendMailCode = function () {
                $(".mail-code").html("sending");
                $.ajax({
                    url: '/index/user/mailCode',
                    data: {
                        'user_name': $("input[name=user_name]").val(),
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data.code == 0) {
                            $(document).dialog({ infoText: data.info, autoClose: 3000 });
                            time_down($(".mail-code"));
                            if (data.verify) {
                                $("input[name=verify]").val(data.verify);
                            }
                        } else {
                            flag = true;
                            $(document).dialog({ infoText: data.info });
                        }
                    },
                    error: function (err) {
                        flag = true;
                        console.log(err);
                    }
                });
            }

            /*提交*/
            $(".form-buttom").on('click', function () {
                var data = {
                    username: $("input[name='user_name']").val(),
                    verify_code: '1234',
                    country_code: '91',
                    tel: '90988129912',
                    deposit_pwd: '1234',
                    pwd: $("input[name='pwd']").val(),
                    email: 'sjjsdsd@gmail.com',
                    invite_code: $("input[name='invite_code']").val(),
                }
                if (check()) {
                    $.ajax({
                        url: "{:url('user/register')}",
                        data: data,
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '__CDN__/assets/{$template}/images/loading.gif',
                                infoText: '{:__("loading")}',
                                autoClose: 0
                            });
                        },
                        success: function (data) {
                            loading.close();
                            if (data.code === 1) {
                                $(document).dialog({infoText: '{:__("signup success")}'});
                                setTimeout(function () {
                                    location.href = "{:url('index/index')}"
                                }, 1500);
                            } else {
                                $(document).dialog({infoText: data.msg});
                            }
                        }
                    });
                }
                return false;
                
                if (check()) {
                    $.ajax({
                        url: "{:url('user/register')}",
                        data: $(".form-signin").serialize(),
                        type: 'POST',
                        beforeSend: function () {
                            loading = $(document).dialog({
                                type: 'notice',
                                infoIcon: '/static_new/images/loading.gif',
                                infoText: 'loading...',
                                autoClose: 0
                            });
                        },
                        success: function (data) {
                            loading.close();
                            if (data.code == 0) {
                                $(document).dialog({ infoText: 'reg_ok' });
                                setTimeout(function () {
                                    location.href = "/index/user/login.html"
                                }, 1500);
                            } else {
                                $(document).dialog({ infoText: data.info });
                            }
                        }
                    });
                }
                return false;
            });
        })
    </script>
</body>

</html>