<form id="add-form2" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
   
   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择时间:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="day" item="vo"}
                <label for="row[day]-{$key}"><input id="row[day]-{$key}" name="row[day]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    
    <!-- 这里是 item 的模板，用于动态添加 -->
    <div id="item-template" class="form-group item" style="display: none;">
       <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">第几单:</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input   class="form-control" name="row[num][]" type="number">
        </div>
       </div>
        <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">卡单金额:</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input   class="form-control" name="row[amount][]" type="number">
        </div>
       </div>
       
        <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">佣金比例:</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input  class="form-control" name="row[income][]" type="number">
        </div>
       </div>
       <!-- 添加删除按钮 -->
       <div class="col-xs-12 col-sm-12 text-right">
           <button type="button" class="btn btn-danger btn-sm remove-item">删除</button>
       </div>
    </div>
   <div id="add-form">
    <!-- 这里是实际显示的 item -->
    <div class="form-group item">
       <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">第几单:</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input  class="form-control" name="row[num][]" type="number">
        </div>
       </div>
        <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">卡单金额:</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input   class="form-control" name="row[amount][]" type="number">
        </div>
       </div>
       
        <div class="col-xs-4 col-sm-4">
           <label  class="control-label col-xs-4 col-sm-4" style="padding-left:0px;padding-right:0px">佣金比例:%</label>
        <div class="col-xs-8 col-sm-8"  style="padding-left:0px;padding-right:0px">
            <input   class="form-control" name="row[income][]" type="number">
        </div>
       </div>
       <!-- 添加删除按钮 -->
       <div class="col-xs-12 col-sm-12 text-right">
           <button type="button" class="btn btn-danger btn-sm remove-item">删除</button>
       </div>
    </div>
 </div>

    <input type="hidden"  name="row[uid]" value="{$uid}"/>
  
    <div class="form-group ">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" id="add-item" class="btn btn-primary btn-embossed">{:__('追加')}</button>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // 点击“追加”按钮时
    $('#add-item').click(function() {
        // 克隆 item 模板
        var newItem = $('#item-template').clone();
        // 显示克隆的 item
        newItem.removeAttr('id').removeAttr('style');
        // 将克隆的 item 添加到表单中
        $('#add-form').append(newItem);
    });

    // 点击“删除”按钮时
    $(document).on('click', '.remove-item', function() {
        // 找到当前按钮所在的 item，并移除
        $(this).closest('.item').remove();
    });


});
</script>