<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-nick" class="control-label col-xs-12 col-sm-2">{:__('Nick')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nick" data-rule="required" class="form-control" name="row[nick]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-sort" class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" data-rule="required" class="form-control" name="row[sort]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-fee" class="control-label col-xs-12 col-sm-2">{:__('Fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee" data-rule="required" class="form-control" name="row[fee]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-gfee" class="control-label col-xs-12 col-sm-2">{:__('Gfee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gfee" data-rule="required" class="form-control" name="row[gfee]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-min" class="control-label col-xs-12 col-sm-2">{:__('Min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min" class="form-control" name="row[min]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-max" class="control-label col-xs-12 col-sm-2">{:__('Max')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max" class="form-control" name="row[max]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-bank" class="control-label col-xs-12 col-sm-2">{:__('Bank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank" class="form-control" name="row[bank]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-account" class="control-label col-xs-12 col-sm-2">{:__('Account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-account" class="form-control" name="row[account]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-ifsc" class="control-label col-xs-12 col-sm-2">{:__('Ifsc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ifsc" class="form-control" name="row[ifsc]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-qrcode" class="control-label col-xs-12 col-sm-2">{:__('Qrcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qrcode" class="form-control" name="row[qrcode]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-upi" class="control-label col-xs-12 col-sm-2">{:__('Upi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-upi" class="form-control" name="row[upi]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
