<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-name2" class="control-label col-xs-12 col-sm-2">{:__('Name2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name2" data-rule="required" class="form-control" name="row[name2]" type="text" value="{$row.name2}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-sort" class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" data-rule="required" class="form-control" name="row[sort]" type="text" value="{$row.sort}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-fee" class="control-label col-xs-12 col-sm-2">{:__('Fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee" data-rule="required" class="form-control" name="row[fee]" type="text" value="{$row.fee}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-gfee" class="control-label col-xs-12 col-sm-2">{:__('Gfee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gfee" data-rule="required" class="form-control" name="row[gfee]" type="text" value="{$row.gfee}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-min" class="control-label col-xs-12 col-sm-2">{:__('Min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min" data-rule="required" class="form-control" name="row[min]" type="text" value="{$row.min}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-max" class="control-label col-xs-12 col-sm-2">{:__('Max')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max" data-rule="required" class="form-control" name="row[max]" type="text" value="{$row.max}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-redirect_url" class="control-label col-xs-12 col-sm-2">{:__('Redirect_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-redirect_url" class="form-control" name="row[redirect_url]" type="text" value="{$row.redirect_url}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-notify_url" class="control-label col-xs-12 col-sm-2">{:__('Notify_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-notify_url" class="form-control" name="row[notify_url]" type="text" value="{$row.notify_url}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-domain" class="control-label col-xs-12 col-sm-2">(CHANNEL):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-domain" class="form-control" name="row[domain]" type="text" value="{$row.domain}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-sn" class="control-label col-xs-12 col-sm-2">{:__('SN')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sn" class="form-control" name="row[sn]" type="text" value="{$row.sn}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-ak" class="control-label col-xs-12 col-sm-2">{:__('Ak')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ak" class="form-control" name="row[ak]" type="text" value="{$row.ak}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-sk" class="control-label col-xs-12 col-sm-2">{:__('SK')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sk" class="form-control" name="row[sk]" type="text" value="{$row.sk}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
