<div data-v-8755e8fe="" data-v-eebac136="" class="footer">
  <ul data-v-8755e8fe="">
    <li
      onclick="window.location.href='{:url(\'index/index\')}'"
      data-v-8755e8fe=""
      class=""
    >
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/home.png?v=sada56f45ds4f5s82" alt="" />
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/home_active.png?v=sada56f45ds4f5s82" alt="" />
    </li>
    <li
      onclick="window.location.href='{:url(\'order/index\')}'"
      data-v-8755e8fe=""
      class=""
    >
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/list.png?v=sada56f45ds4f5s82" alt="" />
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/list_active.png?v=sada56f45ds4f5s82" alt="" />
    </li>
    <li
      onclick="window.location.href='{:url(\'rot_order/index\')}'"
      data-v-8755e8fe=""
      class="t"
    >
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/order.png?v=sada56f45ds4f5s82" alt="" />
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/order.png?v=sada56f45ds4f5s82" alt="" />
    </li>
    <li
      onclick="window.location.href='{:url(\'user/msg\')}'"
      data-v-8755e8fe=""
      class=""
    >

      
      {if condition="($message == 1)"}
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/talk_msg.png?v=sada56f45ds4f5s82" alt="" />
      {else}
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/talk_active.png?v=sada56f45ds4f5s82" alt="" />
      {/if}
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/talk.png?v=sada56f45ds4f5s82" alt="" />
    </li>
    <li
      onclick="window.location.href='{:url(\'user/index\')}'"
      data-v-8755e8fe=""
      class=""
    >
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/user.png?v=sada56f45ds4f5s82" alt="" />
      <img data-v-8755e8fe="" src="__CDN__/assets/common/img/user_active.png?v=sada56f45ds4f5s82" alt="" />
    </li>
  </ul>
</div>
