{include file="common/header" /}
<style>
    :root {
        --van-overlay-background-color: rgba(113, 110, 110, 0.6)
    }

    .overlay-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div id="app">
    <van-overlay v-model:show="isLoading1" class="overlay-container">
        <div class="loading-container">
            <van-loading size="30px" type="spinner" size="24px" color="#fff" text-color="#323232" text-size="24px" vertical="true">
                {{ isLoadingText }}
            </van-loading>
        </div>
    </van-overlay>
    <div class="content" v-if="!isLoading">
        <div class="con_top" @click="backPage">
            <span><img src="__CDN__/assets/monochrome/img/230404pc_icon12.png"></span><em>{:__("Rot_Order_Index_Task_order_hall")}</em>
        </div>
        <div class="row">
            <div class="con_dd_top">
                <!--                <h1>{:__("Rot_Order_Index_Task_order_hall")}</h1>-->
                <div style="height: 100px;margin-bottom: 100px">
                    <div style="text-align: center;font-size: 30px;font-weight: bold;margin-top: 50px">{{
                        userInfo.today_order_number }}/{$site.day_order_num}
                    </div>
                    <div style="text-align: center;margin-bottom: 50px">Total Order</div>
                    <button class="con_button" type="button" @click="order">{{orderButton}}</button>
                </div>
                <em class="clearflx"><i class="f_l">{:__("Rot_Order_Index_Today_record")}</i><b class="f_r">Lv{{info.user_level}}</b></em>
            </div>
            <div class="con_bd3">
                <div class="con_bd3_ul">
                    <ul>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Balance")}</span><i class="f_r">{{info.price}}</i>
                        </li>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Orders")}</span><i class="f_r">{{info.day_d_count}}</i>
                        </li>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Earnings")}</span><i class="f_r">{{info.yes_user_yongjin}}</i>
                        </li>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Freeze")}</span><i class="f_r">{{info.lock_deal}}</i>
                        </li>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Commission")}</span><i class="f_r">{{info.day_deal}}</i>
                        </li>
                        <li class="clearflx"><span class="f_l">{:__("Rot_Order_Index_Team")}</span><i class="f_r">{{info.yes_team_num}}</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="con_dd_top">
                <em class="clearflx"><i class="f_l">{:__("Rot_Order_Index_Order_description")}</i></em>
            </div>
            <div class="con_bd3">
                <div class="con_p">
                    <p>{:__("Rot_Order_Index_P1")}</p>
                    <p>{:__("Rot_Order_Index_P2")}</p>
                    <p>{:__("Rot_Order_Index_P3")}</p>
                    <p>{:__("Rot_Order_Index_P4")}</p>
                    <p>{:__("Rot_Order_Index_Note")}</p>
                </div>
            </div>
            <div class="ld_con">
                <div class="ld_tit orderDetail" v-if="showOrder">
                    <ul class="orderInfo">
                        <li>
                            <div class="ld_ul_a">
                                <div class="ld_ul_tit clearflx">
                                    <p class="f_l">{:__('Rot_Order_Index_Order_time')}: {{orderInfo.receive_at}}</p>
                                    <br>
                                    <p class="f_l">{:__('Rot_Order_Index_Order_number')}: {{orderInfo.oid}}</p>
                                </div>
                                <div class="ld_ul_top clearflx" v-for="item in orderInfo.goods">
                                    <span class="f_l"><img :src="item.goods_pic"></span>
                                    <div class="ld_ul_r">
                                        <p>{{item.goods_name}}</p>
                                        <div class="ld_ul_p clearflx">
                                            <p class="f_l">{{item.goods_price}}</p>
                                            <em class="f_r">x{{orderInfo.num}}</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="ld_ul_bottom">
                                    <ul>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Rot_Order_Index_Order_total')}</span>
                                            <em class="f_r">{{orderInfo.total}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__('Rot_Order_Index_Commission')}</span>
                                            <em class="f_r">{{orderInfo.commission}}</em>
                                        </li>
                                        <li class="clearflx">
                                            <span class="f_l">{:__("Rot_Order_Index_Expected")}</span>
                                            <em class="f_r">{{orderInfo.expected}}</em>
                                        </li>
                                    </ul>
                                </div>
                                <button class="ld_anniu" type="button" @click="submit_order">
                                    {:__("Rot_Order_Index_Submit_now")}
                                </button>
                            </div>
                        </li>
                        <img src="__CDN__/assets/monochrome/img/close.png" class="close" @click="close">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        setup() {
            const isLoading = Vue.ref(true)
            const isLoading1 = Vue.ref(false)
            const isLoadingText = Vue.ref('')
            const theLv3Status = Vue.ref(true)
            const showOrder = Vue.ref(false)
            const info = Vue.ref({})
            const orderInfo = Vue.ref({})
            const order_id = Vue.ref(0)
            const cid = Vue.ref("{$_GET['type']|default=1}");
            const orderButton = Vue.ref('{:__("Rot_Order_Index_Order_Immediately")}');
            const userInfo = Vue.ref([])
            var loading = layer.load(2, {
                shade: [0.1, '#000'] //0.1透明度的白色背景
            });

            const getUserInfo = () => {
                axios.post('/user/getUserInfo').then(function (result) {
                    layer.close(loading);
                    // isLoading.value = false;
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        $(document).dialog({
                            infoText: res.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        userInfo.value = res.data
                    }
                })
            }

            const backPage = () => {
                window.history.go(-1)
            }

            const close = () => {
                showOrder.value = !showOrder.value
            }

            const order = () => {
                if (orderButton.value == '{:__("Rot_Order_Index_Order_Immediately")}') {
                    orderButton.value = '{:__("Rot_Order_Index_Order_Get_in_order")}'

                    start()
                }
            }

            const start = () => {
                if (theLv3Status.value == true) {
                    setTimeout(function () {
                        showOrder.value = true
                    }, 300);

                }
                loading = layer.load(2, {
                    shade: [0.1, '#000'] //0.1透明度的白色背景
                });

                axios.post('/snap_order/rob_order').then(function (result) {
                    layer.close(loading);
                    orderButton.value = '{:__("Rot_Order_Index_Order_Immediately")}'
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        layer.msg(res.msg)
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code == 402) {
                        layer.msg(res.msg)
                        setTimeout(function () {
                            window.location.href = '/user/recharge'
                        }, 1000)
                        return false
                    }
                    if (res.code == 1) {
                        if (res.data.order_type == 1) {
                            var rate = ((res.data.commission / res.data.goods_price) * 100).toFixed(0)
                            rate = rate.toString()
                            var commissionTips = "{:__('Rot_Order_Index_Submission_Commission')}"
                            commissionTips = commissionTips.replace('commissionTips', rate + '%');
                            layer.open({
                                type: 1,
                                title: '{:__("Rot_Order_Index_Submission")}',
                                content: "<img src='__CDN__/assets/common/gift.gif' style='width: 330px;height: 330px;margin: 0 auto;display: block'>" +
                                    "<div style='text-align: center;font-size: 16px'>{:__('Rot_Order_Index_Submission_Luck')}</div>" +
                                    "<div style='text-align: center;font-size: 16px;margin-top: 20px;padding: 10px'>," + commissionTips + "</div>",
                                offset: 'auto',
                                btn: ['{:__("Rot_Order_Index_Submission_Btn")}'],
                                yes: function (index, layero) {
                                    //按钮【按钮一】的回调
                                    layer.close(index)
                                    qdSuccess(res.data.id);
                                }
                            })
                        } else {
                            qdSuccess(res.data.id);
                        }

                    } else if (res.code == 0) {
                        layer.msg(res.msg);
                    } else {
                        if (res.msg) {
                            layer.msg(res.msg);
                            if (res.msg == '{:__("Rot_Order_Index_There")}') {
                                window.location = "/order/index.html";
                            }
                        } else {
                            layer.msg("The network is unstable, please try again in a place with better signal!");
                        }
                    }
                })
            }

            const qdSuccess = (oid) => {
                console.log('订单编号' + oid)
                order_id.value = oid
                showOrder.value = true
                axios.post('/snap_order/order_info', {id: oid}).then(function (result) {
                    var res = result.data
                    if (res.code == 1) {
                        orderInfo.value = res.data
                    }
                })
            }

            const getInfo = () => {
                axios.post('/rot_order/index').then(function (result) {
                    layer.close(loading);
                    isLoading.value = false;
                    // 加载状态结束
                    var res = result.data
                    if (res.code == 401) {
                        $(document).dialog({
                            infoText: res.msg,
                            autoClose: 2000
                        });
                        setTimeout(function () {
                            window.location.href = '/user/login'
                        }, 2000)
                        return false
                    }
                    if (res.code) {
                        info.value = res.data
                        if (res.data.lv3first == 0) {
                            theLv3Status.value = false
                        } else {
                            theLv3Status.value = true
                        }
                    }
                })
            }

            const submit_order = () => {
                showOrder.value = false
                var zhujiTime = "{:config('app.deal_zhuji_time')}";
                var shopTime = "{:config('app.deal_shop_time')}";

                zhujiTime = zhujiTime * 1000;
                shopTime = shopTime * 1000;
                //--------------------------------
                var i = 0;
                loadingFunction("", zhujiTime)

                //--------------------------------

                loadingFunction("Order submission", zhujiTime)

                var timer = setInterval(function () {
                    i++;
                    if (i == 1) {
                        loadingFunction("Assigning", zhujiTime)
                    } else if (i == 2) {
                        loadingFunction("Wait for system response", shopTime)
                        setTimeout(function () {
                            axios.post('/snap_order/submit_order', {
                                oid: order_id.value,
                            }).then(function (result) {
                                isLoading1.value = false
                                layer.closeAll();
                                // 加载状态结束
                                var res = result.data
                                if (res.code == 401) {
                                    layer.msg(res.msg)
                                    setTimeout(function () {
                                        window.location.href = '/user/login'
                                    }, 2000)
                                    return false
                                }
                                if (res.code == 402) {
                                    layer.msg(res.msg)
                                    setTimeout(function () {
                                        window.location.href = '/user/recharge'
                                    }, 1000)
                                    return false
                                }
                                if (res.code) {
                                    layer.msg('Submit Success!')
                                    clearInterval(timer);
                                    location.reload();
                                } else {
                                    layer.msg(res.msg)
                                }
                                sumbit = true;
                            })
                        }, shopTime);
                    }
                }, zhujiTime);
            }

            const loadingFunction = (content, time) => {
                return false
                isLoading1.value = true
                isLoadingText.value = content
                // layer.load(2, {
                //     time: time * 10,
                //     shade: [0.5, '#000'],
                //     content: '<div style="font-size: 18px;margin-left: -250px;margin-top: 20px;width: 00px;text-align: center;color: #fff">' + content + '</div>',
                //     success: function (layer) {
                //         layer.find('.layui-layer-content').css({
                //             'padding-top': '30px',
                //             'width': '100%',
                //         });
                //         // layer.find('.loadtip').css({
                //         //     'font-size':'18px',
                //         //     'margin-left':'5px',
                //         //     'color': '#fff',
                //         // });
                //     }
                // });
            }

            getInfo()
            getUserInfo()

            return {
                isLoading,
                isLoading1,
                isLoadingText,
                info,
                order_id,
                orderButton,
                showOrder,
                orderInfo,
                backPage,
                loadingFunction,
                submit_order,
                getUserInfo,
                userInfo,
                order,
                start,
                qdSuccess,
                close,
            };
        },
    });
    app.use(vant);
    app.mount("#app");
</script>
{include file="common/footer" /}