<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Config')}:</label>
        <div class="col-xs-12 col-sm-8">
            <table class="table table-responsive fieldlist" data-name="row[config]" data-template="configtpl" data-tag="tr">
                <tr>
                    <td>第几单</td>
                    <td>最小金额</td>
                    <td>最大金额</td>
                    <td>卡单</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5"><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a></td>
                </tr>
                <textarea name="row[config]" data-rule="required" class="form-control hide" cols="30" rows="5">{$row.config}</textarea>
            </table>
            <!--定义模板，模板语法使用Art-Template模板语法-->
            <script type="text/html" id="configtpl">
                <tr class="form-inline">
                    <td><input type="text" data-rule="required" name="<%=name%>[<%=index%>][order_number]" class="form-control" value="<%=row['order_number']%>" size="10"></td>
                    <td><input type="text" data-rule="required" name="<%=name%>[<%=index%>][min]" class="form-control" value="<%=row['min']%>" size="10"></td>
                    <td><input type="text" data-rule="required" name="<%=name%>[<%=index%>][max]" class="form-control" value="<%=row['max']%>" size="10"></td>
                    <td>
                        <input  id="c-switch-<%=index%>" name="<%=name%>[<%=index%>][status]" type="hidden" value="<%=row['status']%>">
                        <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-switch-<%=index%>" data-yes="1" data-no="0" >
                            <i class="fa fa-toggle-on text-success <%=row.status==0?'fa-flip-horizontal text-gray':''%> fa-2x"></i>
                        </a>
                    </td>
                    <td><span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span></td>
                </tr>
            </script>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

